html {
    scroll-behavior: smooth;
}

body {
    min-width: 360px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family: Montserrat;
    color: rgb(42, 35, 103);
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

::-webkit-scrollbar {
    width: 0;
  }

h2 { 
    font-size: 18px;
    font-weight: 800;
}

.white-text {
    color: rgb(255, 255, 255);
}

.white-text-18px {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
}

a:hover {
    background: rgb(107, 90, 249);
    height: 1.1em;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    padding-top: 4px;
    background-color: rgb(67, 54, 184);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

header {
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    height: 62px;
    margin: 0;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navigation {
    display: none;
}

.overlay {
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay_shifted {
    top: 63px;
}

.drop-menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -105%;
    transition: 0.5s;
    top: 62px;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    padding-left: 5px;
}

.drop-menu a {
    color: rgb(42, 35, 103);
    display: block;
    width: 220px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-decoration: none;
    margin: 0 auto;
    padding: 14px 5px;
    border-radius: 10px;
} 

.drop-menu_visible {
    left: 0;
    transition: 0.5s;
    z-index: 10;
}

.overlay_visible,
.drop-menu_visible,
.modal_visible {
    display: block;
}
  
.drop-menu a:hover {
    color: #ffffff;
}

.drop-menu__cross {
    text-align: left;
    padding: 22px 0 6px 9px;
    width: 30px;
}

.drop-menu__cross:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;

}

.drop-menu__contacts  {
    position: absolute;
    width: 100%;
    top: 70%;
}

.drop-menu__contacts a {
    color: rgb(107, 90, 249);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding: 3px 0 0 6px;
    margin-bottom: 32px;
}

.drop-menu__contacts p {
    color: rgb(107, 90, 249);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding: 0;
    margin: 0;
}

.modal {
    position: fixed;
    width: 312px;
    height: 486px;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 10;
}

.modal_visible {
    display: block;
}

.contacts {
    display: none;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
}

.slog {
    font-size: 18px;
    display: block;
    height: 44px;
    margin: 22px 3%;
    font-weight: 700;
    line-height: 22px;
    grid-area: slog;
}

a {
    color: rgb(107, 90, 249);
}

.accented-text {
    color: rgb(107, 90, 249);
}

.nav__link {
    color: rgb(42, 35, 103);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

a:hover {
    background: rgb(107, 90, 249);
    color: white;
    cursor: pointer;
  }

.button:hover {
    padding-top: 4px;
    background-color: rgb(67, 54, 184);
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.name-box {
    width: 114px;
    height: 36px;
    align-items: center;
}

.name-box__container {
    min-width: 100%;
    height: auto;
    display: flex;
}

.name-box__logo {
    min-width: 100%;
}

.button {
    padding: 0;
    background-color: rgb(107, 90, 249);
    border-radius: 5px;
    border: none;
    color: white;
}

.header .button_call {
    width: 52px;
    height: 33px;
    padding-top: 3px;
    margin: 0;
}

.order-call {
    display: none;
}

.button_cost {
    display: block;
    margin: 0 auto;
    width: 275px;
    height: 60px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: white;
}

.button-text {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: white;
}

.img-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin-top: -76px;
    grid-area: pic;
    z-index: -1;
}

.massagers {
    display: none;
}

.modal__cross {
    text-align: right;
    margin-right: 10px;
    margin-top: 12px;
}

.modal__cross:hover {
    cursor: pointer;
}

.header .call-form {
    max-width: 100%;
    width: 340px;
    height: 514px;
    background-color: rgb(255,255,255);
}

.header .call-form__title{
    color: rgb(42, 35, 103);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    padding: 0;
    margin-top: -2px;
    margin-bottom: 31px;
}

.header .name,
.header .phone {
    color: rgb(126, 126, 126);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: left;
    padding-left: 2px;
    margin-bottom: 13px;
    margin-top: 0;
}

.header .about-us__call-form {
    margin: 0;
}

.header .about-us__call-form input[type=text] {
    color: rgb(126, 126, 126);
    background-color: rgb(255,255,255);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    outline: none;
    border-bottom: 2px solid rgb(152, 149, 180);
    width: 306px;
    margin-bottom: 30px;
}

.header .about-us__call-form input[type=text]::placeholder {
    color: rgb(152, 149, 180);
    opacity: 1;
}

.header .call-form__input-wrapper {
    width: 310px;
    margin: 0 auto;
}

.agreement {
    text-align: left;
    color: rgb(152, 149, 180);
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    width: 310px;
    margin: 22px auto;
}

.header .call-form__button {
    background-color: rgb(107, 90, 249);
    width: 310px;
    margin-top: 0;
}

.header button .button-text {
    color: white;
}

.button-book {
    margin: 0 auto;
    width: 213px;
    height: 94px;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(107, 90, 249), rgb(174, 164, 254));
}

.locked-wrapper {
    margin-left: 195px;
    transform: translateY(-10px);
    width: 22px;
    height: 22px;
    background-color: rgb(166, 166, 166);
    border-radius: 50%;
    border: 3px solid white;
}

.locked-wrapper img {
    margin-top: 5px;
}

.button-book .book {
    margin-top: -18px;
}

.content-img {
    margin-left: 15px;
    width: 447px;
    height: auto;
}

.info {
    margin: 30px 2% 50px 2%;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    grid-area: info;
}

.cost {
    text-align: center;
    margin: 0 10px;
    grid-area: serv;
}

.serv {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.rect-box {
    display: flex;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;
}

.rect-box__rectange {
    height: 4px;
    background-color: rgb(107, 90, 249);
}

.rect-box__rectange_radius {
    border-radius: 1px;
} 

.rect-box__rectange_small {
    width: 30%;
}

.rect-box__rectange_small_active {
    width: 100%;
    background-color: rgb(67, 205, 147);
}

.rect-box__rectange_medium {
    width: 70%;
}

.rect-box__rectange_large {
    width: 100%;
}

.rect-box_horizontal {
    width: 41px;
    height: 20px;
}

.rect-box_horizontal:hover {
    cursor: pointer;
}

.rect-box_vertical {
    min-width: 35px;
    height: 22px;
    transform: rotate(90deg);
    position: relative;
    right: 90%;
    align-items: center;
    z-index: -1;
}



@media (min-width: 768px) {

    body {
        max-width: 1280px;
    }

    header {
        height: 97px;
        margin: 0;
        padding: 0 4% 0 6%;
    }

    .overlay_shifted {
        top: 98px;
    }

    .drop-menu {
        top: 97px;
        width: 47%;
    }

    input[type="checkbox"]#cross {
        margin: 5px 5%;
        width: 50px;
        height: 50px;
    }

    .container {
        max-width: 1280px;
        display: grid;
        align-items: start;
        margin: 32px auto 0 auto;
        padding-left: 1.5%;
        grid-template-columns: 40% 1fr;
        grid-template-rows: 45px 1fr 2fr;
        grid-template-areas: "slog slog"
                             "info pic"
                             "serv pic";
    }

    .name-box {
        width: 178px;
        height: 55px;
    }

    .rect-box_vertical {
        min-width: 55px;
        height: 35px;
        right: 90%;
    }

    .rect-box__rectange_vertical {
        height: 7px;
        background-color: rgb(107, 90, 249);
    }

    .header .button_call {
        width: 62px;
        height: 39px;
    }

    .call-icon {
        width: 20px;
    }

    .modal__cross {
        margin-right: 12px;
    }
    
    .header .call-form {
        width: 532px;
        height: 498px;
    }
    
    .header p.call-form__title{
        font-size: 20px;
        line-height: 24px;
        margin-top: -1px;
        margin-bottom: 30px;
    }

    .header .about-us__call-form input[type=text] {
        width: 370px;
        margin-bottom: 28px;
    }
    
    .header .call-form__input-wrapper {
        width: 374px;
    }
    
    .agreement {
        width: 400px;
        margin: 13px auto 26px 79px;
    }

    .header .call-form__button {
        width: 374px;
    }

    .slog {
        margin: 0;
        height: 44px;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        grid-area: slog;
    }

    .info {
        font-size: 12px;
        line-height: 15px;
        text-shadow: 0px 2px 5px rgb(0 0 0 / .4);
        font-weight: 400;
        margin: 5px 0 0 0;
        margin-right: -50px;
    }
    
    .cost {
        margin: 0px;
        text-align: left;
    }

    .cost .button_cost {
        margin-left: -2px;
    }

    .serv {
        margin: 10px 6% 10px 0;
        text-align: left;
        font-weight: 600;
        line-height: 137%;
        max-width: 440px;
    }

    .img-container {
        min-width: 100%;
        display: block;
        padding: 0;
    }
    
    .content-img {
        width: 569px;
        height: auto;
        margin-top: 8px;
        margin-left: -34px;
    }
  }

  @media (min-width: 1280px) {
    body {
        max-width: 1280px;
        margin: 0 auto;
    }

  }

  @media (min-width: 1440px) {

    body {
        max-width: 1740px;
        margin: 0 auto;
        padding: 0;
    }

    header {
        height: 115px;
        padding: 0 80px 0 140px;
        margin: 0 auto;
        justify-content: space-between;
    }

    section {
        max-width: 1440px;
    }

    .header .navigation {
        display: none;
    }

    .header .contacts {
        display: none;
    }

    .drop-menu__cross {
        display: none;
    }

    .drop-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 70%;
        height: 115px;
        left: 0px;
        top: 0px;
        border: none;
        padding: 0;
        margin: 0 0 0 15px;
    }

    .drop-menu__contacts  {
        position: static;
        margin: 0;
        width: 240px;
    }
    
    .drop-menu a {
        display: inline;
        width: auto;
        max-width: 80px;
        margin: 0;
        padding: 0;
    } 

    .drop-menu a:hover {
        padding: 5px 0;
    }
    

    a.drop-menu__email {
        display: none;
    }

    .drop-menu__phone {
        font-size: 24px;
        line-height: 29px;
        font-weight: 800;
        margin: 0;
    }

    p.drop-menu__schedule {
        font-weight: 700;
        margin: 0;
        color: rgb(42, 35, 103);
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
    }

    input[type="checkbox"]#cross {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-self: center;
        min-width: 380px;
        padding: 3px 2% 0 1em;
    }

    .name-box {
        width: 176px;
    }

    .contacts {
        display: flex;
        justify-content: right;
        margin-left: 2%;
    }

    .massagers {
        display: flex;
        padding: 0;
        width: 50px;
        height: 20px;
        margin: -12px -15px 0 5px;
        justify-content: space-between;
    }

    .how2call {
        text-align: right;
        padding-bottom: 4px;
        padding-left: 3px;
    }

    p.phone-number {
        color: rgb(42, 35, 103);
        font-size: 24px;
        font-weight: 800;
        line-height: 29px;
    }

    .header .button_call {
        width: 177px;
        height: 60px;
        margin-bottom: 2px;
    }

    .call-icon {
        display: none;
    }

    .order-call {
        display: block;
        padding-bottom: 3px;
    }

    .main-page {
        margin: 50px 140px 0 140px;
    }


    .container {
        display: grid;
        align-items: start;
        max-width: 1280px;
        margin-left: 0;
        padding: 0;
        grid-template-columns: 56% 44%;
        grid-template-rows: 7em 31% auto;
        grid-template-areas: "slog pic"
                             "info pic"
                             "serv pic";
    }


    .rect-box_horizontal {
        display: none;
    }

    .rect-box_vertical {
        right: 91%;
    }

    .slog {
        margin: 0;
        height: 90px;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        grid-area: slog;
    }

    .info {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        border: none;
        margin: 0;
        margin-top: 2px;
        margin-right: 40px;
        text-shadow: none;
    }
    
    .cost {
        padding-top: 2px;
    }


    .serv {
        margin: 22px 6% 10px 0;
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        line-height: 137%;
        max-width: 500px;
    }

    .img-container {
        overflow-x: visible;
        display: block;
        position: relative;
        left: -142px;
        top: -46px;
        padding: 0;
    }
    
    .content-img {
        width: 855px;
        height: auto;
        margin: 0;
        margin-left: -76px;
    }


    .header .call-form {
        width: 766px;
        height: 498px;
    }

    .modal__cross {
        margin-right: 17px;
    }

    .header .call-form__input-wrapper {
        width: 374px;
        margin: 0 auto;
    }

    header p.agreement {
        text-align: left;
        width: 410px;
        margin: 13px auto 26px 196px;
    }

    .header .call-form__button {
        background-color: rgb(107, 90, 249);
        width: 374px;
        margin-top: 0;
    }

    .header button .button-text {
        color: white;
    }

    .button-book {
        margin: 0 auto;
        width: 213px;
        height: 94px;
        border-radius: 5px;
        background: linear-gradient(to right, rgb(107, 90, 249), rgb(174, 164, 254));
    }

    .locked-wrapper {
        margin-left: 195px;
        transform: translateY(-10px);
        width: 22px;
        height: 22px;
        background-color: rgb(166, 166, 166);
        border-radius: 50%;
        border: 3px solid white;
    }

    .locked-wrapper img {
        margin-top: 5px;
    }

    .button-book .book {
        margin-top: -18px;
    }

  }