.bottom-image-wrapper {
    display: flex;
    justify-content: center;
    margin: 90px auto 100px auto;
    overflow-x: hidden;
}

.bottom-image-wrapper img {
    height: 252px;
    position: relative;
    left: 25px;
}


@media (min-width: 768px) {

    .bottom-image-wrapper img {
        height: 459px;
        left: 0;
    }
}


@media (min-width: 1440px) {

    .bottom-image-wrapper {
        overflow: visible;
        margin-top: 120px;
    }

    .bottom-image-wrapper img {
        width: auto;
        height: auto;
        left: 0;
    }
}