.about-us {
    margin: 0 9px;
    margin-bottom: 150px; 
    padding-top: 1px;
    border-radius: 20px;
    background-color: rgb(244, 248, 255);
    text-align: center;
}

.about-us__decor-pic {
    min-width: 340px;
    max-width: 460px;
    display: flex;
    justify-content: space-between;
    margin: -63px auto 0 auto;
    overflow: hidden;
}

.about-us__decor-pic img:first-child {
    width: 119px;
    position: relative;
    left: -15px;
}

.about-us__decor-pic img:nth-child(2) {
    width: 103px;
    position: relative;
    right: -35px;
    top: 15px;
}

.about-us__call-wraper {
    padding: 0 4.5%;
}

.call-form {
    margin: 30px auto 0 auto;
    height: 486px;
    max-width: 472px;
    min-width: 311px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(107, 90, 249);
    color: rgb(255, 255, 255);
}

.call-form__title {
    padding-top: 2em;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0 auto 21px auto;
}

.about-us .call-form > p:nth-child(2) {
    margin: 0 4% 0 6%;
}

.about-us__call-form {
    margin-top: 42px;
}

.about-us__call-form input[type=text] {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgb(107, 90, 249);
    border: none;
    width: 100%;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
}

.call-form__input-wrapper {
    width: 250px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    text-align: left;
    margin: 0 auto 45px 2em;
}

.call-form__button {
    background-color: rgb(255, 255, 255);
    width: 268px;
    height: 60px;
    border-radius: 5px;
}

.call-form__button .button-text {
    color: rgb(107, 90, 249);
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    cursor: pointer;
}

.blue-text {
    color: rgb(155, 143, 255);
}

.check-box__wrapper {
    display: block;
    margin-top: 35px;
    margin-left: 45px;
    text-align: left;
}

.check-box__box {
    position: absolute;
    left: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check-box__fake-box {
    margin-left: -30px;
    position: absolute;
    width: 16px;
    height: 16px;
    background: rgb(155, 143, 255);
    border-radius: 2px;
}

.check-box__box:checked + .check-box__fake-box {
    background: rgb(155, 143, 255) url(./svg/tick.svg) no-repeat 50% 50%;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
 }
 :-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);  
 }
 ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);  
 }
 :-ms-input-placeholder {  
    color: rgba(255, 255, 255, 0.4);  
 }

 .about-us__decor-pic_bottom {
    position: relative;
    text-align: left;
    display: grid;
    grid-row: 3;
    width: 100%;
    margin-top: -120px;
    pointer-events: none;
 }

.about-us__decor-pic_bottom img {
    position: relative;
    display: block;
    height: auto;

}

.about-us__decor-pic_bottom img:nth-child(1) {
    width: 42px;
    left: 18px;
    margin: 5% auto 0 0;
    transform: translateY(-20px);
}

.about-us__decor-pic_bottom img:nth-child(2) {
    width: 91px;
    margin: 20% 5% 0 auto;
    top: -13%;
    transform: translate(25px, -17px);
}

.about-us__decor-pic_bottom img:nth-child(3) {
    width: 221px;
    left: 0;
    margin-top: -20%;
    transform: translateY(-20px);
}



@media (min-width: 768px) {

    .about-us {
        margin-bottom: 250px;
    }

    .about-us__decor-pic {
        max-width: 1280px;
        width: 90%;
        overflow: visible;
    }

    .about-us__decor-pic img:first-child {
        width: 146px;
        height: 146px;
        position: relative;
        left: 10px;
        top: 0;
    }
    
    .about-us__decor-pic img:nth-child(2) {
        width: 174px;
        position: relative;
        right: -45px;
        top: 420px;
    }

    /*================================*/

    .about-us__decor-pic_bottom {
        margin-top: -120px;
     }
    
    .about-us__decor-pic_bottom img:nth-child(1) {
        width: 42px;
        left: 50px;
        margin: 5% auto 0 0;
        transform: translateY(40px);
    }
    
    .about-us__decor-pic_bottom img:nth-child(2) {
        width: 119px;
        margin: 20% 5% 0 auto;
        top: -13%;
        transform: translate(18px, -17px);
    }
    
    .about-us__decor-pic_bottom img:nth-child(3) {
        width: 335px;
        left: 0;
        margin-top: -20%;
        transform: translateY(-50px);
    }

    /*================================*/

    .modal {
        width: 472px;
    }

    .call-form__title {
        font-size: 24px;
        line-height: 29px;
        padding-top: 56px;
        margin-bottom: 28px;
    }

    .about-us .call-form > p:nth-child(2) {
        margin: 0 12% 0 12%;
    }

    .about-us__call-form input[type=text] {
        font-size: 18px;
        line-height: 22px;
    }
    
    .call-form__input-wrapper {
        width: 338px;
        margin: 0 auto 32px 64px;
    }

    .call-form__button {
        width: 341px;
    }
    
    .check-box__wrapper {
        margin-top: 25px;
        margin-left: 96px;
    }



}



@media (min-width: 1440px) {

    .about-us {
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 140px;
        margin-bottom: 270px;
    }

    .about-us h1 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 800;
        width: 300px;
        text-align: left;
        margin: 0;
    }

    .about-us__text {
        position: relative;
        top: -70px;
        margin-left: 98px;
    }

    .about-us .about-us__text p {
        font-size: 18px;
        line-height: 22px;
        width: 90%;
        text-align: left;
    }

    .about-us__decor-pic {
        grid-column: span 2;
    }

    .about-us .call-form {
        margin: 0;
    }

    .about-us__call-wraper {
        padding-left: 0;
        transform: translateY(-40px);
    }

    .call-form p {
        text-align: center;
    }


/*================================*/

    .about-us__decor-pic img:first-child {
        width: 146px;
        height: 146px;
        position: relative;
        left: 300px;
        top: -10px;
    }

    .about-us__decor-pic img:nth-child(2) {
        width: 174px;
        position: relative;
        right: -90px;
        top: 280px;
    }



    .about-us__decor-pic_bottom {
        width: 100px;
        height: 260px;
    }
    
    .about-us__decor-pic_bottom img:nth-child(1) {
        width: auto;
        left: 510px;
        transform: translateY(60px);
    }
    
    .about-us__decor-pic_bottom img:nth-child(2) {
        position: relative;
        width: auto;
        transform: translate(760px, 30px);
    }
    
    .about-us__decor-pic_bottom img:nth-child(3) {
        width: auto;
        left: 0;
        margin-top: -20%;
        transform: translateY(-230px);
    }

}