.steps {
    margin: 0 3%;
}

.steps .title {
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
}

.step {
    min-height: 332px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 60px 0 rgba(42, 35, 103, 0.15),
                0px 10px 10px 0 rgba(42, 35, 103, 0.15);
}

.step__name {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    margin-left: 15px;
}

.step__header {
    width: 92%;
    margin: 0 auto;
    padding: 23px 0;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.step__number {
    background-color: rgb(67, 205, 147);
    width: 37px;
    height: 37px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    display: inline-block;
}


.step__content {
    padding-bottom: 25px;
}

.step__content p {
    margin: 15px 27px 20px 12px;
}

.step__content img {
    width: 90%;
    height: auto;
    margin: 0 5%;
}


/*==========================*/

@media (min-width: 768px) {

    .steps {
        margin-top: 100px;
        margin-left: 6.5%;
        margin-right: 6.5%;
    }

    .steps .title {
        font-size: 24px;
        line-height: 29px;
        margin-left: -5%;
    }


    .step {
        min-height: 479px;
        margin-top: 50px;
    }

    .steps .step:nth-child(2),
    .steps .step:nth-child(3) {
        padding-bottom: 65px;
    }
    
    .step__name {
        font-size: 24px;
        margin-left: 29px;
    }
    
    .step__header {
        margin: 0 43px;
        padding: 23px 0;
        width: auto;
        border-bottom: 1px solid rgb(235, 235, 235);
    }
    
    .step__number {
        width: 53px;
        height: 53px;
        font-size: 24px;
        font-weight: 700;
        margin-left: 6px;
    }

    .step__content p {
        margin: 26px 81px 26px 43px;
        font-size: 18px;
        line-height: 22px;
    }

    .step__content img {
        width: 92%;
        height: auto;
        margin: 0 4%;
    }

}


@media (min-width: 1440px) {

    .steps {
        margin: 55px 140px 0 140px;
    }

    .steps .title {
        font-size: 36px;
        line-height: 44px;
        margin-left: 0;
        margin-bottom: 63px;
    }


    .step {
        min-height: 479px;
        margin-top: 50px;
    }

    .steps .step:nth-child(2),
    .steps .step:nth-child(3) {
        padding-bottom: 65px;
    }

    .step__header {
        margin: 0 6.5%;
        padding: 23px 0;
        width: auto;
        border-bottom: 1px solid rgb(235, 235, 235);
    }

    .step__content p {
        margin: 26px 6.5% 26px 6.5%;
    }

    .step__content img {
        width: 87%;
        height: auto;
        margin: 0 6.5%;
    }

    .steps .step:nth-child(1) p,
    .steps .step:nth-child(2) p,
    .steps .step:nth-child(3) p {
        margin-right: 12%;
    }

    .steps .step:nth-child(4) p,
    .steps .step:nth-child(5) p,
    .steps .step:nth-child(6) p {
        margin-right: 8.5%;
    }

}