.sertificate {
    margin: 88px 10px 107px 10px;
}

.outer {
    background-color: rgb(240, 213, 119);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.inner {
    margin: 19px 16px 15px 17px;
    background-color: rgb(240, 213, 119);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.reward-img {
    display: block;
    width: 33%;
    height: auto;
    margin: 1.5em auto;
}

.sertificate h4,
.sertificate p {
    margin: 5px auto;
    font-weight: 700;
    width: 70%;
    text-align: center;
}

p.gold-sertificate {
    width: 212px;
}

.sertificate h4 {
    color: rgb(159, 159, 159);
}

.swiper-sertificate__text {
    margin-bottom: 26px;
}

/*===========================*/

.swiper-sertificate {
    margin: 24px -28px;
    padding: 0;
    overflow: hidden;
}

.swiper-sertificate .swiper-slide img {
    width: 78%;
    height: auto;
    margin: 0 11%;
}

.sertificate__swiper-pagination {
    text-align: center;
    margin: 29px auto;
}

.sertificate .swiper-pagination-bullet-active {
    background: rgb(107, 90, 249);
}


/*==========================*/

@media (min-width: 768px) {

    .sertificate {
        margin: 100px 10px;
    }

    .inner {
        margin: 26px 20px 32px 20px;
    }

    .reward-img {
        width: 26.3%;
        height: auto;
        margin: 44px auto;
    }



    .swiper-sertificate {
        margin: 26px -28px;
    }

    .swiper-sertificate .swiper-slide {
        text-align: center;
    }

    .swiper-sertificate .swiper-slide img {
        width: 55%;
        height: auto;
        margin: 0 11%;
    }

    .sertificate__swiper-pagination {
        margin: 26px auto 32px auto;
    }

}


@media (min-width: 1440px) {

    .inner {
        margin: 26px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sertificate {
        margin: 0 140px 150px 140px;
    }

    .reward-img {
        width: auto;
        margin: 15px 15px 0 15px;
    }

    .sertificate__swiper-pagination {
        display: none;
    }

    .swiper-sertificate {
        margin: 0;
        margin-right: 95px;
        margin-bottom: 18px;
        width: 560px;
    }

    .sertificate .swiper-wrapper {
        gap: 95px;
        padding: 0;
    }

    .sertificate .swiper-slide {
        width: auto;
        height: auto;
        align-self: self-end;
    }

    .swiper-sertificate .swiper-slide img {
        width: auto;
        margin: 0;
        padding: 0;
    }



}