.contact-us {
    background-color: rgb(42, 35, 103);
    text-align: center;
    color: white;
    padding-bottom: 48px;
}

.mail-bottom {
    display: inline-block;
    color: rgb(107, 90, 249);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 11px;
}

.mail-us {
    margin: 0 10px;
    margin-bottom: 30px;
    padding-top: 27px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(107, 90, 249, 0.5);
}

.massagers-about-us {
    width: 90px;
    margin: 30px auto 38px auto;
    display: flex;
    justify-content: space-between;
}

.bottom-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    margin-bottom: 28px;
}

.contact-us .name-box {
    margin: 37px auto 24px auto;
    width: 157px;
    height: auto;
}

.copywrite {
    width: 66%;
    margin: 0 auto 30px auto;
}

.policy {
    text-decoration: underline;
}

/*===============================*/

@media (min-width: 768px) {

    .contact-us {
        padding: 0 7% 6% 7%;
    }

    .mail-us {
        padding-top: 42px;
        margin: 0;
        text-align: left;
    }

    .white-text-18px {
        font-size: 24px;
        line-height: 29px;
    }

    .mail-bottom {
        font-size: 29px;
        line-height: 35px;
        margin-top: 21px;
    }

    .button-text {
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
    }

    .contact-us .button_cost {
        position: relative;
        width: 341px;
        margin-right: 0;
        bottom: 78px;
    }

    .massagers-about-us {
        margin: -20px 0 0 auto;
    }

    .bottom-schedule {
        margin-top: -45px;
    }

    .bottom-text {
        text-align: left;
        margin: 0;
        margin-bottom: 33px;
    }

    .copywrite {
        margin-bottom: 16px;
    }

}